
/* Declaring custom properties */
* {
box-sizing: border-box;
text-align: center
border: thin solid white;
}
#header ul li {
  display: inline-block;
  list-style: none;
  background-color: #orange;

}
#menu {
  background-color: black;
  color: white;

}
#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}
#menu > ul > li {
  display: inline-block;
  padding: 0.99em;
  text-align: left;
}
#E-Learing{
display: inline-block;
padding: 6em;
text-align: left;
background-color: yellow;
top: 1em;
}
.izquierda{
  float: left;
  text-align: left;
}
#banner {
  position: relative;
}

.texto-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#banner img {
  width: 100%;
  max-width: 100%;
}
#servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.service-column {
text-align: center;
}
.tcapa h2 {
  text-align: center;
}
#terceracapa h2 {
  background-color: white;
}
#terceracapa-dos >ul {
  background-color: black;
  color: white;
}
#terceracapa-dos > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}
#terceracapa-dos > ul > li {
  display: inline-block;
  text-align: left;
}
.tcapa-dos {
text-align: left;
}

#tcapa-l{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.tcapa-franjas > img {
width: 120px;
height: 120px;
}
.tcapa-franjas  {
  text-align: center;
}

#cuartacapa > img {
  width: 100%;
  max-width: 100%;
}
.columnas {
  display: grid;
  padding: 10px;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;

}

#footer {
background-color: black;
width: 100%;
color: gray ;
padding: 100%:
 }

 .footer-columns {
   padding: 100%;
   display: grid;
 }

 #footer h6 {
   font-size: 1em;
 }

 #footer ul {
   font-size: 0.8em;
 }
 .footer-column ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
.footer-column iframe {
  width: 400px;
  height: 200px;
}
